<template>
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="determineSending({currentMessage, currentName})"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
      >
        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
        >
          <v-flex xs12>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label>
                {{message.currentMessage}}
            </v-chip>
            <v-chip
              v-if="message.uuid === uuid"
              text-color="grey"
              class="float-right"
              x-small
              label>
                {{message.currentName}} 
                ({{parseDate(message.timestamp)}})
            </v-chip>
            <v-chip
              v-if="message.uuid !== uuid"
              text-color="grey"
              outlined
              color="primary"
              class="float-left"
              x-small
              label>
                {{message.currentName}}
                ({{parseDate(message.timestamp)}})
            </v-chip>
            <v-chip
              v-if="message.uuid !== uuid"
              text-color="primary"
              outlined
              color="primary"
              class="float-left"
              label>
                {{message.currentMessage}}
            </v-chip>
          </v-flex>
        </v-layout>
        <v-text-field
          label="Your name"
          v-model="currentName"
          class="mt-12"
        >
        </v-text-field>
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <v-btn
          @click="determineSending({currentMessage, currentName})"
          @keydown.enter.prevent
          @keyup.enter="determineSending({currentMessage, currentName})"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    currentName: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }
    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    determineSending: function(inputObj){
      if(inputObj.currentMessage.replaceAll(/\s/g,'') !== "") this.sendMessage(inputObj)  
    },
    sendMessage: function(inputObj) {
      const {currentMessage, currentName} = inputObj
      const message = JSON.stringify({
        currentMessage,
        currentName,
        uuid: this.uuid
      })
      // console.log("checking destructuring", "✨ current message:", currentMessage, "✨ current name:", currentName)
      // console.log("checking message", message)
      this.$socket.send(message)
      this.clearInput()
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.OK) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 1000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    },
    // convert timestamp to readable date
    parseDate: function (date) {
      let d = new Date(date)
      // Year
      let year = d.getFullYear()

      // Month
      let month = (d.getMonth() + 1).toString()
      month = month.length > 1 ? month : '0' + month

      // Day
      let day = d.getDay().toString()
      day = day.length > 1 ? day : '0' + day

      // hours
      let hours = d.getHours().toString()
      hours = hours.length > 1 ? hours : '0' + hours

      // minutes
      let minutes = d.getMinutes().toString()
      minutes = minutes.length > 1 ? minutes : '0' + minutes

      // seconds
      let seconds = d.getSeconds().toString()
      seconds = seconds.length > 1 ? seconds : '0' + seconds

      return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds
    },
    // clear the message input after the message has been sent
    clearInput: function(){
      this.currentMessage = ""
    }
  }
}

</script>
